.body{

    text-align : center;
    background-image : url("back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    border : 5px solid black;
    padding : 5px;
    margin : 5px;
    height : 90%;
    width : 95%;
    display:grid;
    grid-template-areas:
   "top top "
   "bottomLeft bottomRight";
   font-color : black;
}
.box{
    border : 3px solid blue;
    text-align : center;
    justify-content : center;
    padding : 5px;
    margin : 5px;

}
#top{
grid-area :top;

}
#left{
grid-area :bottomLeft;
}
#right{
grid-area : bottomRight;
}
.value{
border : 2px solid blue;
margin : 5px;

}
.mission{
border : 2px solid yellow;
margin : 5px;
}
.vision{
border : 2px solid green;
margin : 5px;
}
.p{
font-size : 35px;
text-align : left;
color: rgb(191, 82, 151);
}
.p1{
text-align : center;

} 

.foot{
height:10px;
}
#foot{
height:5px;
}
.topn {
  overflow: hidden;
  background-color: #333;
}

.topn a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.topn a:hover {
  background-color: #ddd;
  color: black;
}

.topn a.active {
  background-color: #04AA6D;
  color: white;
}

.btn {
    background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px ; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
background-color: RoyalBlue;
}

.nod{
background-image:url("logo2.jpg");
background-position: center;
background-repeat: no-repeat;
 background-size: cover;
}
.container2{
    border : 5px solid black;
    padding : 5px;
    margin : 5px;
    height : 90%;
    width : 95%;
    display:grid;
    grid-template-areas:
   "top top "
   "bottomLeft bottomRight";
   color : black;
   
}
#probody{
  background-image: url(backproject.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container2 a{
  color: yellowgreen;
  font-size: 20px;
}